/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}

/* Prevent white space on the right side to appear when screensize is small */
html, body {
     min-height: 100%;
     min-width: 100%;
     margin: 0px;
     padding: 0;
     overflow-x: hidden;
}

/* Font size and padding */
html {
     font-size: 65%;
     padding: 3rem;
}

/******************************************
/* OVERALL LAYOUT
/*******************************************/

body {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

/******************************************
/* WELCOME
/*******************************************/

h1 {
     /* Set size for title */
     font-size: 5rem;
}
.input {
     /* Center input field */
     justify-content: center;
     /* Set spacing */
     margin: 3rem auto;
     /* Prevent input from being cut on smaller screens */
     max-width: 300px;
}

/******************************************
/* RESULTS
/*******************************************/

.name {
     /* Change font style */
     font-size: 3rem;
     font-weight: 500;
     /* Give spacing */
     margin: 5rem 0;
}
.highlights {
     /* Layout highlights */
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     gap: 1rem;
     /* Give spacing */
     margin-bottom: 5rem;
}
.highlights > div {
     /* Style each highlight boxes */
     width: 200px;
     border: solid rgb(224, 224, 224) 1px;
     border-radius: 5px;
     padding: 2rem;
}
.highlights h3 {
     /* Style highlight names */
     font-size: 1.5rem;
     color: gray;
     font-weight: 400;
}
.highlights span {
     /* Style highlight values */
     font-size: 3rem;
}
.skills {
     /* Layout skills */
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     gap: 3rem; 
     /* Give spacing */
     margin-bottom: 5rem;
}
.skills > div {
     /* Layout each skills box */
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.skills img {
     /* Adjust skills image size */
     height: 80px;
     width: 80px;
}
.skills span {
     /* Adjust skills text content */
     font-size: 1.5rem;
}

/******************************************
/* FOOTER
/*******************************************/

footer {
     /* Set spacing */
     padding: 5rem;
}

/******************************************
/* JS RELATED
/*******************************************/

#results {
     display: none;
}
#welcome {
     display: contents;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/

/* Adjust layout for mobiles */
@media screen and (max-width: 400px) {
     /* Make highlights boxes smaller */
     .highlights > div {
          width: 130px;
     }
     /* Adjust font size of highlighs values */
     .highlights span {
          font-size: 2.3rem;
     }
     /* Adjust font size of highlighs names */
     .highlights h3 {
          font-size: 1.1rem;
     }
     .name {
          /* Adjust font size of name */
          font-size: 2.2rem;
          /* Adjust spacing of name */
          margin-top: 0;
     }
}
